<span class="context-menu__item__label">
  {{#if item.icon}}
    {{fa-icon item.icon class="context-menu__item__icon"}}
  {{else if item.svg}}
    {{svg-jar item.svg class="context-menu__item__svg"}}
  {{/if}}
  {{item.label}} {{#if _amount}}({{_amount}}){{/if}}
</span>

{{#if item.subActions}}
  {{#unless isDisabled}}
    <ul class="context-menu--sub">
      {{#each item.subActions as |subItem|}}
        {{context-menu-item item=subItem
                            amount=amount
                            itemIsDisabled=itemIsDisabled
                            clickAction=clickAction}}
      {{/each}}
    </ul>
  {{/unless}}
{{/if}}

{{#if item.filterConfig}}
  {{#unless isDisabled}}
    <ul class="context-menu--sub custom-sub">
      {{component
            item.filterConfig.name
            options=item.filterConfig.options
            customClose=(action 'customClose')}}
    </ul>
  {{/unless}}
{{/if}}
