<span class="context-menu__item__label">
  {{#if @item.icon}}
    {{fa-icon @item.icon class='context-menu__item__icon'}}
  {{/if}}
  {{@item.label}}
  {{#if this._amount}}
    ({{this._amount}})
  {{/if}}
</span>
{{#if @item.subActions}}
  {{#unless this.isDisabled}}
    <ul class="context-menu--sub">
      {{#each @item.subActions as |subItem|}}
        <ContextMenuItem
          item={{subItem}}
          amount={{this.amount}}
          itemIsDisabled={{this.itemIsDisabled}}
          clickAction={{this.clickAction}}
        />
      {{/each}}
    </ul>
  {{/unless}}
{{/if}}